@model Team3_FinalProject.Models.StockTransaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityShares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityShares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockTXNAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockTXNAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockTXNDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockTXNDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StockTransactionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
