@model Team3_FinalProject.Models.Transaction

@{
    ViewData["Title"] = "Change Status";
}

<h1>Change Status</h1>

<h3>Are you sure you want to approve this transaction?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AccountNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionComment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.CurrentStatus
        </dd>

    </dl>
    
    <form asp-action="Approve">
        <input type="hidden" asp-for="TransactionID" />
        <input type="submit" value="Approve" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.TransactionID">Transaction Details</a>
    </form>
</div>
